<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .red {
      color: red;
    }

    .blue {
      color: blue;
    }
  </style>

</head>

<body>
  <div id="root">
    <span>dd:{{dd}}</span> <br />
    <input type="text" v-model='dd' />
    <ul>
      <li v-for='it in dataList'>{{it.name}}</li>
    </ul>
    <input type="text" :value='name' /><br />
    <div :class='myClass'>154891561</div>
    <div v-bind:class='myClass'>154891561</div>
    <div :class='{blue:age > 10,red:age<10}'>156156</div>
    <input type="text" @input='sayHello' />
    <span @click='sayHello'>123</span>
  </div>

  <script type="module">
    import miniVue from './miniVue/index.js'
    const app = new miniVue({
      el: '#root',
      data: {
        name: '帅宝',
        dd: '',
        age: 18,
        wow: {
          a: 1,
          b: 'bao'
        },
        dataList: [{
          name: 'name1',
          age: 'age1'
        }, {
          name: 'name2',
          age: 'age2'
        }, {
          name: 'name3',
          age: 'age3'
        }, {
          name: 'name4',
          age: 'age4'
        }],
        myClass: 'red'
      },
      computed: {
        hello() {
          return 'hello computed'
        }
      },
      methods: {
        sayHello() {
          console.log('hello world');
        }
      }
    })
    window.app = app
  </script>


</body>

</html>